<h1>Create new camera</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'camera_new' %}" method="post">
    {% csrf_token %}
    Make:<br>
    <input type="text" name="make" required><br>
    <br>
    Model:<br>
    <input type="text" name="model" required><br>
    <br>
    Firmware version:<br>
    <input type="text" name="firmware" required><br>
    <br>
    Switch:<br>
    <select name="switch">
        {% for switch in switch_list %}
            <option value="{{ switch.path }}" required>{{ switch.path }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    IP address:<br>
    <input type="text" name="ip_address" required><br>
    <br>
    Server IP (Optional):
    <select name="server">
        <option value=None required>None</option>
        {% for server in server_list %}
            <option value="{{ server.ip_address }}">{{ server.ip_address }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" value="Create">
</form>