<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    <div class="container">
        <h2>Cameras</h2>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>IP Address</th>
                    <th>Subnet</th>
                    <th>H.265 Enabled</th>
                    <th>4K Resolution</th>
                    <th>Server</th>
                    <th>Link</th>
                </tr>
            </thead>
            {% if camera_list %}
            <tbody>
                {% for camera in camera_list %}
                    <tr>
                        <td>{{ camera.make }}</td>
                        <td>{{ camera.model }}</td>
                        <td>{{ camera.ip_address }}</td>
                        <td>{{ camera.subnet }}</td>
                        <td>{{ camera.h265_enabled }}</td>
                        <td>{{ camera.four_k_resolution }}</td>
                        <td>{{ camera.server }}</td>
                        <td><a href="/inventory/cameras/{{ camera.id }}/">Details</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            {% else %}
                <tbody>
                    <tr>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                        <td>None</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </body>
</html>