<h1>VMS QA Inventory</h1>
<h2>Servers <a href="/inventory/servers/">See all</a></h2>
{% if server_list %}
    <ul>
    {% for server in server_list %}
        <li>{{ server.model }} {{ server.ip_address }} <a href="/inventory/servers/{{ server.id }}/">Details</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No servers are available.</p>
{% endif %}

<h2>Switches <a href="/inventory/switches/">See all</a></h2>
{% if switch_list %}
    <ul>
    {% for switch in switch_list %}
        <li>{{ switch.path }} <a href="/inventory/switches/{{ switch.id }}/">Details</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No switches are available.</p>
{% endif %}

<h2>Cameras <a href="/inventory/cameras/">See all</a></h2>
{% if camera_list %}
    <ul>
    {% for camera in camera_list %}
        <li>{{ camera.make }} {{ camera.model }} {{ camera.ip_address }} <a href="/inventory/cameras/{{ camera.id }}/">Details</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cameras are available.</p>
{% endif %}